*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.titles{
    font-size: 2rem;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    color: rgb(3, 45, 101);
    display: flex;
    margin-left: 1.7rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    width: 100%;
}
.arrow-title{
    font-size: 3.2rem;
    display: flex;
    color: rgb(26, 101, 199);
}
.container-all-card{
    display: flex;
    width: 100%;
}
.card-container{
    margin-top: 3rem;
}
@media(max-width:768px){
    .card-container{
            display: flex;
            justify-content: center;
            align-items: center;
    }
    .titles{
        font-size: 1.8rem;
    }
   
}