.titles{
    font-size: 2rem;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    color: rgb(3, 45, 101);
    display: flex;
    margin-left: 1.7rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}
.arrow-title{
    font-size: 3.2rem;
    display: flex;
    color: rgb(26, 101, 199);
}
.container-all-card{
    display: flex;
}
.card-container{
    margin-top: 3rem;
}