.all-nav{
    background-color: white;
    width: 100%;
}

.nav-menu{
    gap: 1.5rem;
}
.link-title{
    font-family: 'Exo', sans-serif;
    font-size: 3rem;
    color: rgb(26, 101, 199);
}
.link-name{
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    color: rgb(26, 101, 199);
    font-weight: 600;
}